body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  display: flex;
}

.div1{
  flex: 1;
  font-size: medium;
}
.div2{
  flex: 1;
 
}

.div2 input{
  margin-top: 20px;
  width: 80px;
  height: 35px;
}
.div2 button{
  margin-top: 20px;
  margin-left: 10px;
  width: 150px;
  height: 40px;
}